.app {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
  }
  
  .light-theme {
    background-color: #faeded;
    color: #242424;
  }
  
  .dark-theme {
    background-color: #444343;
    color: #f3eaea;
  }
  
  button {
    padding: 10px;
    cursor: pointer;
  }
  